.rotateY {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.index-bg-gradient {
    width: auto;
    height: 100vh;
    background: linear-gradient(45deg, #000000 0%, #702717 100%);
    animation: animate-bg 15s ease infinite;
    background-size: 120% 120%;
}

@keyframes animate-bg {
    0% {
        background-position: 0% 50%;
    }
  
    50% {
        background-position: 100% 50%;
    }
  
    100% {
        background-position: 0 50%;
    }
}
[placeholder]:focus::-webkit-input-placeholder {
transition: text-indent 0.5s 0.5s ease; 
text-indent: -300%;
opacity: 1;
}